{% extends 'base.html' %}


{% block content %}
<div class="container" >
  <div class="row pt-3">
    <div class="col-2">
    </div>
    <div class="col-2">
      <h1>{{ product.title }}</h1>
    </div>
    <div class="col-2">
      {% if product.timerOver %}
      <div class="container">
        <h1>TIME OVER!</h1>
      </div>
      {% else %}
      {{product.timeRemainingPretty}}
      {% endif %}

    </div>
  </div>

  <div class="row pt-3">
    <div class="col-4">
      <img src="{{product.image.url}}" class="img-fluid"/>
    </div>
    <div class="col-8">
      <a href="javascript:{document.getElementById('order').submit()}">
        <button class='btn btn-primary btn-large btn-block'>
          Orders {{ product.orders }}
        </button>
     </a>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-4">
      <h4>{{ product.pub_date_pretty }}</h4>
    </div>
    <div class="col-8">
        <p>{{ product.body }}</p>
    </div>
  </div>
</div>

<form id="order" action="{% url 'order' product.id %}" method="POST">
  {% csrf_token %}
  <input type="hidden"/>
</form>


{% endblock %}
